@CHARSET "ISO-8859-1";
#z0 {
    position:absolute;
    opacity:0.17;
    z-index:-1;
    top:50%;
    left:50%;
    width: 2000px;
    height: 2000px;
    margin-top: -1000px;
    margin-left: -1000px;
}
#z1 {
    position:absolute;
    opacity:0.8;
    z-index:0;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
}
#Buecher{
	position:absolute;
	z-index:20;
	top: 60px;
	left: 27%;
	margin-left: 55px;
	width:110px;
	opacity: 0.6;
}
#Musik{
	position:absolute;
	z-index:20;
	top: 60px;
	left: 57%;
	margin-left: 55px;
	width:110px;
	opacity: 0.5;
}
#Filme{
	position:absolute;
	z-index:20;
	top:94.5%;
	left: 42%;
	margin-left: 55px;
	width:110px;
	opacity: 0.6;
}
#z2charles, #z250sof, #z2elvis, #z2300, #z2captain, #z2pharell{
    width: 200px;
    height: 65px;
    margin-top: -100px;
    margin-left: -100px;
    position:absolute;
    z-index:2;
    text-align: center;
}
#textcharles, #textelvis, #text50sof, #text300, #textcaptain, #textpharell{
	float:right;
	height: 65px;
	wight: 145px;
	font-weight:normal;
	font-style:oblique;
	color:#000000;
	font-size:11px;
	text-align:center;
	font-family:tahoma, verdana, arial, sans-serif;
	line-height:1;
	background-color:#F5F5F5;
	padding-top:5px;
	display: none;
	box-shadow:         3px 3px 8px 0px rgba(50, 50, 50, 0.79);
	border-radius: 5px;
	opacity: 0.97;
}

#charles, #sof, #dreihundert, #captain, #elvis, #pharell {
box-shadow:         3px 3px 8px 0px rgba(50, 50, 50, 0.79);
border-radius: 5px;
}
#z2charles {
    top: 35%;
    left: 30%;
}
#charles{
	width: 48px;
    height: 65px;
    float:left;
}
#textcharles{
	width: 145px;
}



#z250sof{
    top: 53%;
    left: 30%;
}
#sof{
	width: 48px;
    height: 65px;
    float: left;
}
#text50sof{
	width: 145px;
}


#z2300 {
    top: 92%;
    left: 45%;
}
#dreihundert{
	width: 48px;
    height: 65px;
    float:left;
}
#text300{
	width: 145px;
}



#z2captain {
    top: 92%;
    left: 65%;
}
#captain{
	width: 48px;
    height: 65px;
    float:left;
}
#textcaptain{
	width: 145px;
}


#z2elvis {
    top: 35%;
    left: 77%;
}
#elvis{
	width: 60px;
    height: 65px;
    float:left;
}
#textelvis{
	width: 133px;
}


#z2pharell {
    top: 53%;
    left: 77%;
}
#pharell{
	width: 60px;
    height: 65px;
    float:left;
}
#textpharell{
	width: 133px;
}


