@CHARSET "UTF-8";

body {
	background-image: url(../img/background_img.jpg);
}

.loginSite {
		display:none;
}

.col-lg-4 {
	margin-top: 110px;
	margin-left: -50px;
}

@media(min-width: 768px){
.loginSiteMobile{
	display: none;
}
	
.loginSite{
	display: block;
}

.evaluation_header {
	padding-bottom: 20px;
}

.navbar-opacity {
	opacity: 0.7;
}

.jumbotron p {
	font-style:italic;
	font-size: 18px;
}

.register-button {
	margin-top: -90px;
	margin-bottom: 60px; 
	margin-left: 480px;
	margin-right: 0px;
}

.btn-color {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

.btn-register:hover {
	color: #fff;
	background-color: #47a447;
	border-color: #398439
}

.btn-boxsize {
	padding: 10px 15px;
	font-size: 14px;
}

.xame_logo {
	max-height: 80px;
	max-width: 80px;
	
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #DF0101; 
}

.alert-custom {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}

.alert-custom:target {
	opacity:1;
	pointer-events: auto;
}

.alert-custom > div {
	width: 500px;
	position: relative;
	margin: 5% auto;
}

.position_button {
	position: relative;
	left: 370px; top: 10px; 
	margin-bottom: 5px;
}

.row_position {
	margin-top: 0.5em;
}

.mobileHeader {
	text-align: center;
}

.cPosition {
	margin-top: 90px;
}
